@{
	ViewData["Title"] = "Access Rights";
}
@using UI.Resources

<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0">@SharedResource.Access_Rights</h1>
			</div><!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a asp-area="" asp-controller="Dashboard" asp-action="index">@SharedResource.Home</a></li>
					<li class="breadcrumb-item active">@SharedResource.Access_Rights</li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
	<div class="container-fluid">
		<div class="card card-solid">
			<div class="card-body pb-0">
				<div class="row">
					<div class="col-10">
					</div>
					@*  <div class="col-2">
                        <button type="button" class="btn btn-block btn-primary mb-3" onclick="openUserModal()">Add</button>
                    </div> *@
				</div>
				<div class="row">
					<div class="col-12 mb-10">
						<table id="AccessRightsTable" class="table table-bordered table-striped dataTable dtr-inline"></table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="modal fade" id="AddAccessRightsModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<partial name="_AddAccessRights.cshtml" />
</div>
<!-- /.modal -->
@section scripts
{
	<script>
		var GetAllAccessRightsUrl = '@Url.Action("GetAll", "AccessRights")';
		var AccessRightsGetByIdUrl = '@Url.Action("GetById", "AccessRights")';
		var GetARByRoleIdUrl = '@Url.Action("GetARByRoleId", "AccessRights")';
		var GetModuleUrl = '@Url.Action("GetModules", "AccessRights")';
		var createUpdateARURL = '@Url.Action("createUpdateAR", "AccessRights")';

		// Mocked data for testing purposes
		var GridData = {};

		$(function () {
			$('.nav-link').removeClass('active');
			$('#liAccessRightsmenu').addClass('active');

			GetAllAccessRights();
		});

		function GetAllAccessRights() {
			var columnList = [
				{ data: 'roleName', title: '@SharedResource.Role_Name' }
			];

			var langResource = {
				AddNewLabel: '@SharedResource.Add_New',
				ExportLabel: '@SharedResource.Export',
				ExportPDFLabel:'@SharedResource.Export_PDF',
				ExportCSVLabel:'@SharedResource.Export_CSV',
				ExportExcelLabel:'@SharedResource.Export_Excel',
				ExcelLabel:'@SharedResource.Excel',
				PDFLabel:'@SharedResource.PDF',
				CSVLabel:'@SharedResource.CSV',
				NodataavailableLabel :'@SharedResource.No_data_available',
				SearchLabel :'@SharedResource.Search',
				ShowingLabel :'@SharedResource.Showing',
				EntriesLabel :'@SharedResource.entries',
				FilteredfromLabel :'@SharedResource.filtered_from',
				ViewLabel :'@SharedResource.View',
				PreviewLabel :'@SharedResource.Preview',
				DeleteLabel :'@SharedResource.Delete',
				EditLabel :'@SharedResource.Edit',
				ResetPasswordLabel :'@SharedResource.Reset_Password',
				UserNameLabel :'@SharedResource.UserName',
				DateLabel :'@SharedResource.Date',
				PageLabel :'@SharedResource.Page',
				OfLabel :'@SharedResource.of',
				GeneratedonLabel :'@SharedResource.Generated_on',
				PreviousLabel :'@SharedResource.Previous',
				NextLabel :'@SharedResource.Next',
			};

			initializeDataGrid('AccessRightsTable', 'openAccessRightsModal', GetAllAccessRightsUrl, columnList, false, true, true, false,false,null,false,null,langResource);

		}

		function valueChange(id) {
			// Split the ID to extract relevant information
			var retrive = id.split("_");
			var parentId = retrive[1];
			var operationTypeName = retrive[2];
			var operationType = retrive[3];

			// Update permission for the specific operation type
			GridData.accessRightDTO[parentId].accessRightDetailDTO.find(x => x.operationType == operationType).permission = $("#" + id).prop('checked');

			// Handle logic for "Read" and other operation types
			if (operationTypeName.toLowerCase() != "read" && $("#" + id).prop('checked')) {
				// Check all "Read" checkboxes for the current parent
				$('input[id^="child_' + parentId + '_Read"]').each(function () {
					$(this).prop('checked', true);
				});

				// Update "Read" permission in data model
				GridData.accessRightDTO[parentId].accessRightDetailDTO.find(x => x.operationTypeName == "Read").permission = true;

			} else if (operationTypeName.toLowerCase() == "read" && !$("#" + id).prop('checked')) {
				// Uncheck all child checkboxes if "Read" is unchecked
				$('input[id^="child_' + parentId + '"]').each(function () {
					$(this).prop('checked', false);
				});

				// Set all permissions for the current parent to false
				GridData.accessRightDTO[parentId].accessRightDetailDTO.forEach(function (dy) {
					dy.permission = false;
				});
			}
		}



		function openAccessRightsModal(id) {
			var dataObject = {};
			dataObject.id = id;

			$.ajax({
				url: AccessRightsGetByIdUrl,
				type: "POST",
				data: dataObject,  // Send data if needed
				beforeSend: function () {
					// ClearUserModal();
					// GetDropdownData();
				},
				success: function (response) {
					if (response.data) {
						if (response.data.id != undefined && response.data.id != null && response.data.id != "")
							$("#h4AccessRightsTitle").html("@SharedResource.Modify  @SharedResource.Access_Rights");
						else {
							$("#h4AccessRightsTitle").html("@SharedResource.Add  @SharedResource.Access_Rights");
						}

						$("#hdnAccessRoleId").val(response.data.id);
						$("#txtRole").val(response.data.roleName);


					var langResource = {
						AddNewLabel: '@SharedResource.Add_New',
						ExportLabel: '@SharedResource.Export',
						ExportPDFLabel:'@SharedResource.Export_PDF',
						ExportCSVLabel:'@SharedResource.Export_CSV',
						ExportExcelLabel:'@SharedResource.Export_Excel',
						ExcelLabel:'@SharedResource.Excel',
						PDFLabel:'@SharedResource.PDF',
						CSVLabel:'@SharedResource.CSV',
						NodataavailableLabel :'@SharedResource.No_data_available',
						SearchLabel :'@SharedResource.Search',
						ShowingLabel :'@SharedResource.Showing',
						EntriesLabel :'@SharedResource.entries',
						FilteredfromLabel :'@SharedResource.filtered_from',
						ViewLabel :'@SharedResource.View',
						PreviewLabel :'@SharedResource.Preview',
						DeleteLabel :'@SharedResource.Delete',
						EditLabel :'@SharedResource.Edit',
						ResetPasswordLabel :'@SharedResource.Reset_Password',
						UserNameLabel :'@SharedResource.UserName',
						DateLabel :'@SharedResource.Date',
						PageLabel :'@SharedResource.Page',
						OfLabel :'@SharedResource.of',
						GeneratedonLabel :'@SharedResource.Generated_on',
						PreviousLabel :'@SharedResource.Previous',
						NextLabel :'@SharedResource.Next',
					};


						var columns = [ //Module Column List
							{
								title: "@SharedResource.Action",
								className: 'dt-control fa fa-angle-down',
								orderable: false,
								data: null,
								defaultContent: ''
							},
							{ data: 'level1', title: '@SharedResource.Main_Menu' },
							{ data: 'level2', title: '@SharedResource.Menu' },
							{ data: 'level3', title: '@SharedResource.Sub_Menu' }
						];

						var childColumns = [
							{
								title: "",
								//remove sorting on action
								orderable: false,
								//set width of action column
								width: "10%",
								render: function (data, type, full, meta) {
									var checked = "";
									if (full.permission) {
										checked = "checked";
									}
									var id = meta.settings.sTableId + "_" + full.operationTypeName + "_" + full.operationType + "_" + full.id;
									// checkbox button
									var datax = '<input type="checkbox" id="' + id + '" name="checkbox" ' + checked + ' onclick="valueChange(\'' + id + '\')"/>';
									return datax;
								}
							},
							{ data: 'operationTypeName', title: '@SharedResource.Operation' }
						];

						var urlFinal = "";
						if (id == null || id == undefined) {
							urlFinal = GetModuleUrl;
						}else{
							urlFinal = GetARByRoleIdUrl;
						}
						var dataObjectForChildTable = {};
						dataObjectForChildTable.Id = id;

						$.ajax({
							type: "POST",
							url: urlFinal,
							data: dataObjectForChildTable,
							success: function (response) {
								if (response) {
									GridData = response.data;
									// Initialize the DataTable with the fetched data
									initializeDataGridNested("AccesRightsDataTable", columns, childColumns, GridData.accessRightDTO,false,false, langResource);
								}
							},
							error: function (xhr, status, error) {
								toastr.error(response.errorMessage);
							}
						});

					}
					else {
						toastr.error(response.errorMessage);
					}
					// Handle success (e.g., update UI with response data)
				},
				error: function (error) {
					console.log("Error:", error);
					toastr.error("Error:" + error);
				}
			}).done(function () {
				$('#AddAccessRightsModal').modal('show');
				$("#frnAccessRightsCreate").validate({}).resetForm();
			});


		}


		// function GetAllAccessRights() {
		// 	var columnList = [
		// 		{ data: 'roleName', title: 'Role Name' }
		// 	];

		// 	initializeDataGrid('AccessRightsTable', 'openAccessRightsModal', GetAllAccessRightsUrl, columnList, false, true, true, false);

		// }

		function ClearUserModal() {
			$("#h4UserTitle").html("@SharedResource.Add  @SharedResource.Access_Rights");
			$("#hdnuserId").val("");
			$("#txtSurname").val("");
			$("#txtOthername").val("");
			$("#txtEmail").val("");
			$("#txtMobile").val("");
			$("#profileimagefile").val(null);
			$("#oldprofileimage").val("");
			$("#viewProfileImage").attr("src", "");
			$("#viewProfileImage").css("display", "none");
		}


		function SaveAccessRight(){
			let valid = formValidation(["txtRole"]);
			if (!valid) {
				toastr.error("@SharedResource.Please_Fill_In_Mandatory_Fields")
			} else {
				var rolename = $("#txtRole").val();
				GridData.roleName = rolename;
				GridData.roleId = $("#hdnAccessRoleId").val() == "" ? null : $("#hdnAccessRoleId").val();
				console.log(GridData);

				$.ajax({
					url: createUpdateARURL,
					type: "POST",
					data: { "MainARDTO": GridData },  // Send data if needed
					beforeSend: function () {

					},
					success: function (response) {
						if (response.data) {
							toastr.success(response.errorMessage);
							$("#AddAccessRightsModal").modal('hide');
							GetAllAccessRights();
						}
						else {
							toastr.error(response.errorMessage);
						}
						// Handle success (e.g., update UI with response data)
					},
					error: function (error) {
						console.log("Error:", error);
						toastr.error("Error:" + error);
					}
				}).done(function () {

				});
			}
		}

	</script>
}