@{
	ViewData["Title"] = "Global Param";
}
@using UI.Resources

<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0">@SharedResource.Global_Param</h1>
			</div><!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a asp-area="" asp-controller="Dashboard" asp-action="index">@SharedResource.Home</a></li>
					<li class="breadcrumb-item active">@SharedResource.Global_Param</li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
	<div class="container-fluid">
		<div class="card card-solid">
			<div class="card-body pb-0">
				<div class="row">
					<div class="col-10">
					</div>

				</div>
				<div class="row">
					<div class="col-12  mb-10">
						<table id="GlobalParamTable" class="table table-bordered table-striped dataTable dtr-inline"></table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="modal fade" id="AddGlobalParamModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<partial name="_AddGlobalParam.cshtml" />
</div>
<!-- /.modal -->
@section scripts
{
	<script>
		var GetAllGlobalParamUrl = '@Url.Action("GetAll", "GlobalParam")';
		var GlobalParamGetByIdUrl = '@Url.Action("GetById", "GlobalParam")';
		var CreateUpdateGlobalParamUrl = '@Url.Action("CreateUpdate", "GlobalParam")';


		$(function () {
			//$('.nav-link').removeClass('active');
			$('.nav-link').removeClass('active').removeClass("menu-open");
			$('#liGlobalParammenu').addClass('active');
			$('#liGlobalParammenu').parents('li').parents('li').addClass('menu-open');
			GetAllGlobalParam();
		});

		function GetAllGlobalParam() {
			var columnList = [
				{ data: 'id', title: 'Id', visible: false },
				{ data: 'name', title: '@SharedResource.Name' },
				{ data: 'value', title: '@SharedResource.Value' },
				{ data: 'additionalValue', title: '@SharedResource.Additional_Value' },
				{ data: 'comment', title: '@SharedResource.Comment' },
			];

			var langResource = {
				AddNewLabel: '@SharedResource.Add_New',
				ExportLabel: '@SharedResource.Export',
				ExportPDFLabel:'@SharedResource.Export_PDF',
				ExportCSVLabel:'@SharedResource.Export_CSV',
				ExportExcelLabel:'@SharedResource.Export_Excel',
				ExcelLabel:'@SharedResource.Excel',
				PDFLabel:'@SharedResource.PDF',
				CSVLabel:'@SharedResource.CSV',
				NodataavailableLabel :'@SharedResource.No_data_available',
				SearchLabel :'@SharedResource.Search',
				ShowingLabel :'@SharedResource.Showing',
				EntriesLabel :'@SharedResource.entries',
				FilteredfromLabel :'@SharedResource.filtered_from',
				ViewLabel :'@SharedResource.View',
				PreviewLabel :'@SharedResource.Preview',
				DeleteLabel :'@SharedResource.Delete',
				EditLabel :'@SharedResource.Edit',
				ResetPasswordLabel :'@SharedResource.Reset_Password',
				UserNameLabel :'@SharedResource.UserName',
				DateLabel :'@SharedResource.Date',
				PageLabel :'@SharedResource.Page',
				OfLabel :'@SharedResource.of',
				GeneratedonLabel :'@SharedResource.Generated_on',
				PreviousLabel :'@SharedResource.Previous',
				NextLabel :'@SharedResource.Next',
			};

			initializeDataGrid('GlobalParamTable', 'openGlobalParamModal', GetAllGlobalParamUrl, columnList, false,true,true,false,false,null,true,null,langResource);

		}

		function openGlobalParamModal(id)
		{
			var dataObject = {};
			dataObject.id = id;

			$.ajax({
				url: GlobalParamGetByIdUrl,
				type: "POST",
				data: dataObject,  // Send data if needed
				beforeSend: function () {
					ClearGlobalParamModal();
				},
				success: function (response) {
					if (response.data) {
						if (response.data.id != undefined && response.data.id != null && response.data.id != "")
							$("#h4GlobalParamTitle").html("@SharedResource.Modify  @SharedResource.Global_Param");
						else {
							$("#h4GlobalParamTitle").html("@SharedResource.Add  @SharedResource.Global_Param");
						}

						$("#hdnGlobalParamId").val(response.data.id);
						$("#txtName").val(response.data.name);
						$("#txtValue").val(response.data.value);
						$("#txtAdditionalValue").val(response.data.additionalValue);
						$("#txtComment").val(response.data.comment);

						$('#AdminOnly').prop('checked', response.data.adminOnly == null ? true : response.data.adminOnly);
						$('#Enable').prop('checked', response.data.enable == null ? true : response.data.enable);

					}
					else {
						toastr.error(response.errorMessage);
					}
					// Handle success (e.g., update UI with response data)
				},
				error: function (error) {
					console.log("Error:", error);
					toastr.error("Error:" + error);
				}
			}).done(function () {
				$('#AddGlobalParamModal').modal('show');
				$("#frnGlobalParamCreate").validate({}).resetForm();
			});

		}

		function ClearGlobalParamModal() {
			$("#h4GlobalParamTitle").html("@SharedResource.Add  @SharedResource.Global_Param");
			$("#hdnGlobalParamId").val("0");
			$("#hdnGlobalParamId").val("");
			$("#txtName").val("");
			$("#txtValue").val("");
			$("#txtAdditionalValue").val("");
			$("#txtComment").val("");
		 }

		 async function SaveGlobalParam() {

			let valid = formValidation(["txtName", "txtValue"]);

			if (valid) {
				var dataObject = {};
				dataObject.Id = $("#hdnGlobalParamId").val();
				dataObject.Name = $("#txtName").val();
				dataObject.Value = $('#txtValue').val();
				dataObject.AdditionalValue = $('#txtAdditionalValue').val();
				dataObject.Comment = $('#txtComment').val();
				dataObject.AdminOnly   = $('#AdminOnly').prop('checked');
				dataObject.Enable = $('#Enable').prop('checked');


				$.ajax({
					url: CreateUpdateGlobalParamUrl,
					type: "POST",
					data: dataObject,  // Send data if needed
					beforeSend: function () {

					},
					success: function (response) {
						if (response.data) {
							toastr.success(response.errorMessage);
							$('#AddGlobalParamModal').modal('hide');

							if (dataObject.Name === 'ExportID') {
								localStorage.setItem('GlobalParamValue', dataObject.Value);
							}

							GetAllGlobalParam();
						}
						else {
							toastr.error(response.errorMessage);
						}
						// Handle success (e.g., update UI with response data)
					},
					error: function (error) {
						console.log("Error:", error);
						toastr.error("Error:" + error);
					}
				}).done(function () {

				});
			}
			else {
				toastr.warning("@SharedResource.Please_fill_in_required_field_s_");
			}

		}

	</script>
}