@{
	ViewData["Title"] = "Menu";
}
@using UI.Resources

<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0">@SharedResource.Menu</h1>
			</div><!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a asp-area="" asp-controller="Dashboard" asp-action="index">@SharedResource.Home</a></li>
					<li class="breadcrumb-item active">@SharedResource.Menu</li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
	<div class="container-fluid">
		<div class="card card-solid">
			<div class="card-body pb-0">
				<div class="row">
					<div class="col-10">
					</div>
					@*  <div class="col-2">
                        <button type="button" class="btn btn-block btn-primary mb-3" onclick="openUserModal()">Add</button>
                    </div> *@

				</div>
				<div class="row">
					<div class="col-12  mb-10">
						<table id="MenuTable" class="table table-bordered table-striped dataTable dtr-inline"></table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="modal fade" id="AddMenuModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<partial name="_AddMenu.cshtml" />
</div>
<!-- /.modal -->
@section scripts
{
	<script>
		var GetAllMenuUrl = '@Url.Action("GetAll", "Menu")';
		var MenuGetByIdUrl = '@Url.Action("GetById", "Menu")';
		var UpdateMenuUrl = '@Url.Action("Update", "Menu")';


		$(function () {
			$('.nav-link').removeClass('active');
			$('#limenumenu').addClass('active');

			GetAllMenu();
		});

		function GetAllMenu() {
			var columnList = [
				{ data: 'id', title: 'Id', visible: false },
				{ data: 'displayName', title: '@SharedResource.Display_Name' },
				{ data: 'icon', title: '@SharedResource.Icon' },
				{ data: 'order', title: '@SharedResource.Order' },
			];

			var langResource = {
				AddNewLabel: '@SharedResource.Add_New',
				ExportLabel: '@SharedResource.Export',
				ExportPDFLabel:'@SharedResource.Export_PDF',
				ExportCSVLabel:'@SharedResource.Export_CSV',
				ExportExcelLabel:'@SharedResource.Export_Excel',
				ExcelLabel:'@SharedResource.Excel',
				PDFLabel:'@SharedResource.PDF',
				CSVLabel:'@SharedResource.CSV',
				NodataavailableLabel :'@SharedResource.No_data_available',
				SearchLabel :'@SharedResource.Search',
				ShowingLabel :'@SharedResource.Showing',
				EntriesLabel :'@SharedResource.entries',
				FilteredfromLabel :'@SharedResource.filtered_from',
				ViewLabel :'@SharedResource.View',
				PreviewLabel :'@SharedResource.Preview',
				DeleteLabel :'@SharedResource.Delete',
				EditLabel :'@SharedResource.Edit',
				ResetPasswordLabel :'@SharedResource.Reset_Password',
				UserNameLabel :'@SharedResource.UserName',
				DateLabel :'@SharedResource.Date',
				PageLabel :'@SharedResource.Page',
				OfLabel :'@SharedResource.of',
				GeneratedonLabel :'@SharedResource.Generated_on',
				PreviousLabel :'@SharedResource.Previous',
				NextLabel :'@SharedResource.Next',
			};

				initializeDataGrid('MenuTable', 'openMenuModal', GetAllMenuUrl, columnList, false,false,true,false,true,null,false,null,langResource);

		}
		function openMenuModal(id) {
			var dataObject = {};
			dataObject.id = id;

			$.ajax({
				url: MenuGetByIdUrl,
				type: "POST",
				data: dataObject,  // Send data if needed
				beforeSend: function () {

				},
				success: function (response) {
					if (response.data) {
						if (response.data.id != undefined && response.data.id != null && response.data.id != "")
							$("#h4MenuTitle").html("@SharedResource.Modify  @SharedResource.Menu");
						else {
							$("#h4MenuTitle").html("@SharedResource.Add  @SharedResource.Menu");
						}

						$("#hdnmenuId").val(response.data.id);
						$("#txtDisplayName").val(response.data.displayName);
						$("#txtIcon").val(response.data.icon);
						$("#txtOrder").val(response.data.order);
					}
					else {
						toastr.error(response.errorMessage);
					}
					// Handle success (e.g., update UI with response data)
				},
				error: function (error) {
					console.log("Error:", error);
					toastr.error("Error:" + error);
				}
			}).done(function () {
				$('#AddMenuModal').modal('show');
				$("#frnMenuCreate").validate({}).resetForm();
			});


		}


		// function ClearUserModal() {
		// 	$("#h4UserTitle").html("Add User");
		// 	$("#hdnuserId").val("");
		// 	$("#txtSurname").val("");
		// 	$("#txtOthername").val("");
		// 	$("#txtEmail").val("");
		// 	$("#txtMobile").val("");
		// 	$("#profileimagefile").val(null);
		// 	$("#oldprofileimage").val("");
		// 	$("#viewProfileImage").attr("src", "");
		// 	$("#viewProfileImage").css("display", "none");
		// }


		function UpdateMenu() {

			let valid = formValidation(["txtDisplayName", "txtIcon", "txtOrder"]);

			if (valid) {
				var dataObject = {};
				dataObject.id = $("#hdnMenuId").val();
				dataObject.DisplayName = $("#txtDisplayName").val();
				dataObject.Icon = $("#txtIcon").val();
				dataObject.Order = $("#txtOrder").val();

				$.ajax({
					url: UpdateMenuUrl,
					type: "POST",
					data: dataObject,  // Send data if needed
					beforeSend: function () {

					},
					success: function (response) {
						if (response.data) {
							toastr.success(response.errorMessage);
							$('#AddMenuModal').modal('hide');
							GetAllMenu();
						}
						else {
							toastr.error(response.errorMessage);
						}
						// Handle success (e.g., update UI with response data)
					},
					error: function (error) {
						console.log("Error:", error);
						toastr.error("Error:" + error);
					}
				}).done(function () {

				});
			}
			else {
				toastr.warning("@SharedResource.Please_fill_in_required_field_s_");
			}
		}

	</script>
}