@{
	Layout = null;
}
@using UI.Resources

<div class="modal-dialog">
	<form id="frnReportsCreate">
		<input type="hidden" id="hdnReportsId" value="" />
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="h4ReportsTitle">
				</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-12 form-group">
						<label>@SharedResource.Name<span class="red-required">*</span></label>
						<input type="text" id="txtName" class="form-control" placeholder="@SharedResource.Name" required />
					</div>
					<div class="col-12 form-group">
						<label>@SharedResource.Type<span class="red-required">*</span></label>
						<input type="text" id="txtType" class="form-control" placeholder="@SharedResource.Type" required />
					</div>
					<div class="col-12 form-group">
						<label>@SharedResource.View_Name<span class="red-required">*</span></label>
						<input type="text" id="txtViewName" class="form-control" placeholder="@SharedResource.View_Name" required />
					</div>

				</div>
				<div class="row">
					<div class="col-12 row form-group">
						<div class="col-6">
							<label for="reportimagefile">@SharedResource.Report_Image</label>
							<input type="file" id="reportimagefile" name="reportimagefile" accept="image/*" onchange="UploadFileisValidImageFormarJPEGAndPNG('reportimagefile')">
							<input type="hidden" id="oldreportimage" value="" />
						</div>
						<div class="col-6">
							<img id="viewReportImage" style="height: 80%;width: 80%;" />
							<button type="button" title="Delete Image" class="btn btn-block btn-info btn-sm" id="deleteImageBtn"
									style="display: none; margin-top: 13px; width: 50%;" onclick="deleteImage()">
								@SharedResource.Delete @SharedResource.Image
							</button>
						</div>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" title="Save" class="btn btn-primary" onclick="SaveReports();">@SharedResource.Save</button>
				<button type="button" title="Close" class="btn btn-default" data-dismiss="modal">@SharedResource.Close</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</form>
</div>