@{
	ViewData["Title"] = "Report";
}
@using UI.Resources
<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0">@SharedResource.Report</h1>
			</div><!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a asp-area="" asp-controller="Dashboard" asp-action="index">@SharedResource.Home</a></li>
					<li class="breadcrumb-item active">@SharedResource.Report</li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
	<div class="container-fluid">
		<div class="card card-solid">
			<div class="card-body pb-0">
				<div class="row">
					<div class="col-10">
					</div>

				</div>
				<div class="row">
					<div class="col-12  mb-10">
						<table id="ReportsTable" class="table table-bordered table-striped dataTable dtr-inline"></table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="modal fade" id="AddReportsModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<partial name="_AddReports.cshtml" />
</div>
<!-- /.modal -->
@section scripts
{
	<script>
		var GetAllReportsUrl = '@Url.Action("GetAll", "Reports")';
		var ReportsGetByIdUrl = '@Url.Action("GetById", "Reports")';
		var CreateUpdateReportsUrl = '@Url.Action("CreateUpdate", "Reports")';
		var ReportsDeleteUrl = '@Url.Action("ReportsDelete", "Reports")';
		var ReportsPreviewUrl = '@Url.Action("Preview", "Reports")';


		$(function () {
			$('.nav-link').removeClass('active');
			$('#liReportsmenu').addClass('active');

			GetAllReports();
		});

		function GetAllReports() {
			var columnList = [
				{ data: 'id', title: 'Id', visible: false },
				{ data: 'name', title: '@SharedResource.Name' },
				{ data: 'type', title: '@SharedResource.Type' },
				{ data: 'viewName', title: '@SharedResource.View_Name' },

			];

			var langResource = {
					AddNewLabel: '@SharedResource.Add_New',
					ExportLabel: '@SharedResource.Export',
					ExportPDFLabel:'@SharedResource.Export_PDF',
					ExportCSVLabel:'@SharedResource.Export_CSV',
					ExportExcelLabel:'@SharedResource.Export_Excel',
					ExcelLabel:'@SharedResource.Excel',
					PDFLabel:'@SharedResource.PDF',
					CSVLabel:'@SharedResource.CSV',
					NodataavailableLabel :'@SharedResource.No_data_available',
					SearchLabel :'@SharedResource.Search',
					ShowingLabel :'@SharedResource.Showing',
					EntriesLabel :'@SharedResource.entries',
					FilteredfromLabel :'@SharedResource.filtered_from',
					ViewLabel :'@SharedResource.View',
					PreviewLabel :'@SharedResource.Preview',
					DeleteLabel :'@SharedResource.Delete',
					EditLabel :'@SharedResource.Edit',
					ResetPasswordLabel :'@SharedResource.Reset_Password',
					UserNameLabel :'@SharedResource.UserName',
					DateLabel :'@SharedResource.Date',
					PageLabel :'@SharedResource.Page',
					OfLabel :'@SharedResource.of',
					GeneratedonLabel :'@SharedResource.Generated_on',
					PreviousLabel :'@SharedResource.Previous',
					NextLabel :'@SharedResource.Next',
				};

			initializeDataGrid('ReportsTable', 'openReportsModal', GetAllReportsUrl, columnList, true,true,true,false,true,'PreviewReportsModal',true,'ReportsDelete',langResource);
		}

		 function PreviewReportsModal(viewName) {
			window.open(ReportsPreviewUrl + "?viewName=" + viewName, '_blank');
		}

		function openReportsModal(id) {
			var dataObject = {};
			dataObject.id = id;

			$.ajax({
				url: ReportsGetByIdUrl,
				type: "POST",
				data: dataObject,  // Send data if needed
				beforeSend: function () {
					ClearReportsModal();
				},
				success: function (response) {
					if (response.data) {
						$("#deleteImageBtn").hide();
						if (response.data.id != undefined && response.data.id != null && response.data.id != "")
							$("#h4ReportsTitle").html('@SharedResource.Modify  @SharedResource.Report');
						else {
							$("#h4ReportsTitle").html('@SharedResource.Add  @SharedResource.Report');
						}

						$("#hdnReportsId").val(response.data.id);
						$("#txtName").val(response.data.name);
						$("#txtType").val(response.data.type);
						$("#txtViewName").val(response.data.viewName);

						if (response.data.reportImagebase64 != null && response.data.reportImagebase64 != "") {
							$("#oldreportimage").val(response.data.reportImagebase64);

							$("#viewReportImage").attr("src", "data:image/png;base64," + response.data.reportImagebase64);
							$("#viewReportImage").css("display", "");
							$("#deleteImageBtn").show();
						}

					}
					else {
						toastr.error(response.errorMessage);
					}
					// Handle success (e.g., update UI with response data)
				},
				error: function (error) {
					console.log("Error:", error);
					toastr.error("Error:" + error);
				}
			}).done(function () {
				$('#AddReportsModal').modal('show');
				$("#frnReportsCreate").validate({}).resetForm();
			});
		}

		function deleteImage() {
			// Reset the file input and the hidden field
			$('#reportimagefile').val("");
			$('#viewReportImage').attr('src', "");
			$('#oldreportimage').val("");
			$('#deleteImageBtn').hide();
		}

		function ClearReportsModal() {
			$("#h4ReportsTitle").html('@SharedResource.Add  @SharedResource.Report');
			$("#hdnReportsId").val("");
			$("#txtName").val("");
			$("#txtType").val("");
			$("#reportimagefile").val(null);
			$("#oldreportgimage").val("");
			$("#viewReportImage").attr("src", "");
			$("#viewReportImage").css("display", "none");

		}

		async function SaveReports() {

			let valid = formValidation(["txtName", "txtType","txtViewName"]);

			if (valid) {
				var dataObject = {};
				dataObject.Id = $("#hdnReportsId").val();
				dataObject.Name = $("#txtName").val();
				dataObject.Type = $('#txtType').val();
				dataObject.ViewName = $('#txtViewName').val();

				var FileData = await FiletoBase64string("reportimagefile");

				if (FileData == "") {
					FileData = $('#oldreportimage').val();
				}

				dataObject.ReportImagebase64 = FileData;

				$.ajax({
					url: CreateUpdateReportsUrl,
					type: "POST",
					data: dataObject,  // Send data if needed
					beforeSend: function () {

					},
					success: function (response) {
						if (response.data) {
							toastr.success(response.errorMessage);
							$('#AddReportsModal').modal('hide');
							GetAllReports();
						}
						else {
							toastr.error(response.errorMessage);
						}
						// Handle success (e.g., update UI with response data)
					},
					error: function (error) {
						console.log("Error:", error);
						toastr.error("Error:" + error);
					}
				}).done(function () {

				});
			}
			else {
				toastr.warning("@SharedResource.Please_fill_in_required_field_s_");
			}

		}

		function ReportsDelete(id){
			var dataObject = {};
			dataObject.id = id;
			$.ajax({
				url: ReportsDeleteUrl,
				type: "POST",
				data: dataObject,  // Send data if needed
				beforeSend: function () {

				},
				success: function (response) {
					if (response.data) {
						toastr.success(response.errorMessage);
						GetAllReports();
					}
					else {
						toastr.error(response.errorMessage);
					}
					// Handle success (e.g., update UI with response data)
				},
				error: function (error) {
					console.log("Error:", error);
					toastr.error("Error:" + error);
				}
			}).done(function () {

			});
		}


	</script>
}