@{
    Layout = null;
}
@using UI.Resources

<div class="modal-dialog">
    <form id="frnUserCreate">
        <input type="hidden" id="hdnuserId" value="" />
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="h4UserTitle">
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 form-group">
                        <label>@SharedResource.Surname<span class="red-required">*</span></label>
                        <input type="text" id="txtSurname" class="form-control" placeholder=@SharedResource.Surname required />
                    </div>
                    <div class="col-12 form-group">
                        <label>@SharedResource.Othername<span class="red-required">*</span></label>
                        <input type="text" id="txtOthername" class="form-control" placeholder="@SharedResource.Othername" required />
                    </div>
                    <div class="col-12 form-group">
                        <label>@SharedResource.Email<span class="red-required">*</span></label>
                        <input type="text" id="txtEmail" class="form-control" placeholder="@SharedResource.Email" required />
                    </div>
                    <div class="col-12 form-group">
                        <label>@SharedResource.Mobile_No<span class="red-required">*</span></label>
                        <input type="text" id="txtMobile" class="form-control" placeholder="@SharedResource.Mobile_No" required />
                    </div>
                    <div class="col-12 form-group">
                        <label>@SharedResource.Role<span class="red-required">*</span></label>
                        <select class="form-control" id="ddlRole" required></select>
                    </div>
                    <div class="col-12 row form-group">
                        <div class="col-6">
                            <label for="profileimagefile">@SharedResource.Profile_Image</label>
                            <input type="file" id="profileimagefile" name="profileimagefile" accept="image/*" onchange="UploadFileisValidImageFormarJPEGAndPNG('profileimagefile')">
                            <input type="hidden" id="oldprofileimage" value="" />
                        </div>
                        <div class="col-6">
                            <img id="viewProfileImage" style="height: 80%;width: 80%;" />
                        </div>

                    </div>
                    <div class="col-12 row form-group">
                        <div class="col-6">
                            <label for="tree" class="mb-2 label-required"> @SharedResource.Matrix </label>
                        </div>
                    </div>
                    <div id="NewDropdowntree" class="dropdown dropdown-tree"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="SaveUser();">@SharedResource.Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@SharedResource.Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </form>
</div>