@{
    ViewData["Title"] = "LookUp Value";
}

@using UI.Resources
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@SharedResource.Look_Up_Value</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Dashboard" asp-action="index">@SharedResource.Home</a></li>
                    <li class="breadcrumb-item active">@SharedResource.Look_Up_Value</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div class="container-fluid">
        <div class="card card-solid">
            <div class="card-body pb-0">
                <div class="row">
                    <div class="col-10">
                    </div>
                    @*  <div class="col-2">
                    <button type="button" class="btn btn-block btn-primary mb-3" onclick="openLookUpValueModal(0)">Add</button>
                    </div> *@
                </div>
                <div class="row">
                    <div class="col-12  mb-10">
                        <table id="LookUpValueTable" class="table table-bordered table-striped"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="AddLookUpValueModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <partial name="_AddLookUpValue.cshtml" />
</div>
<!-- /.modal -->
@section scripts
{
    <script>
        var GetAllLookUpValueUrl = '@Url.Action("GetAll", "LookUpValue")';
        var LookUpValueGetByIdUrl = '@Url.Action("GetById", "LookUpValue")';
        var getLookUpValueDropDownUrl = '@Url.Action("GetAllDropdownValues", "LookUpValue")';
        var CreateUpdateLookUpValueUrl = '@Url.Action("CreateUpdate", "LookUpValue")';

        $(function () {
            // $('.nav-link').removeClass('active');
            // $('#liLookUpValuemenu').addClass('active');

            $('.nav-link').removeClass('active').removeClass("menu-open");
            $('#liLookUpValuemenu').addClass('active');
            $('#liLookUpValuemenu').parents('li').parents('li').addClass('menu-open');

            GetAllLookUpValue();
        });

        function GetAllLookUpValue() {
            var columnList = [
                { data: 'id', title: 'Id', visible: false },
                { data: 'name', title: '@SharedResource.Look_Up_Value' },
                { data: 'lookUpType', title: '@SharedResource.Look_Up_Type' },
                { data: 'description', title: '@SharedResource.Description' },
            ];

            var langResource = {
                AddNewLabel: '@SharedResource.Add_New',
                ExportLabel: '@SharedResource.Export',
                ExportPDFLabel: '@SharedResource.Export_PDF',
                ExportCSVLabel: '@SharedResource.Export_CSV',
                ExportExcelLabel: '@SharedResource.Export_Excel',
                ExcelLabel: '@SharedResource.Excel',
                PDFLabel: '@SharedResource.PDF',
                CSVLabel: '@SharedResource.CSV',
                NodataavailableLabel: '@SharedResource.No_data_available',
                SearchLabel: '@SharedResource.Search',
                ShowingLabel: '@SharedResource.Showing',
                EntriesLabel: '@SharedResource.entries',
                FilteredfromLabel: '@SharedResource.filtered_from',
                ViewLabel: '@SharedResource.View',
                PreviewLabel: '@SharedResource.Preview',
                DeleteLabel: '@SharedResource.Delete',
                EditLabel: '@SharedResource.Edit',
                ResetPasswordLabel: '@SharedResource.Reset_Password',
                UserNameLabel: '@SharedResource.UserName',
                DateLabel: '@SharedResource.Date',
                PageLabel: '@SharedResource.Page',
                OfLabel: '@SharedResource.of',
                GeneratedonLabel: '@SharedResource.Generated_on',
                PreviousLabel: '@SharedResource.Previous',
                NextLabel: '@SharedResource.Next',
            };

            initializeDataGrid('LookUpValueTable', 'openLookUpValueModal', GetAllLookUpValueUrl, columnList, false, true, true, false, false, null, true, null, langResource);

            // $.ajax({
            //     url: GetAllLookUpValueUrl,
            //     type: "POST",
            //     // data: dataObject,  // Send data if needed
            //     beforeSend: function () {
            //         if ($.fn.dataTable.isDataTable('#LookUpValueTable')) {
            //             $('#LookUpValueTable').DataTable().clear().destroy();
            //         }
            //     },
            //     success: function (response) {
            //         if (response.data) {
            //             dataToShow = response.data;
            //             $('#LookUpValueTable').DataTable({ //init table
            //                 dom: "Bfrtip", //button Strip
            //                 searching: true, //show search
            //                 paging: false, //no paging
            //                 processing: true, //processing
            //                 scrollY: 'auto', //fixed height
            //                 scrollCollapse: true,//scroll
            //                 order: [[0, 'desc']], //order
            //                 language: { // search anf info bars
            //                     search: '',
            //                     emptyTable: 'No data available',
            //                     searchPlaceholder: 'Search',
            //                     info: "Showing _TOTAL_ entries",
            //                     infoEmpty: "Showing 0 entries",
            //                     infoFiltered: "(filtered from _MAX_ entries)",
            //                 },
            //                 data: dataToShow, // data to display
            //                 columnDefs: [ // set action column
            //                     {
            //                         //set column order for action
            //                         targets: columnList.length,
            //                         //remove sorting on action
            //                         orderable: false,
            //                         //set width of action column
            //                         width: "10%",
            //                         render: function (data, type, full, meta) {
            //                             //edit button
            //                             var edit = '<a onclick="openLookUpValueModal(\'' + full.id + '\')" title="Edit"><i class="fa fa-edit text-secondary ms-1"></i></a> ';
            //                             //list of buttons
            //                             var btn = '';
            //                             btn = edit
            //                             data = '<div class="text-nowrap">' + btn + '</div>';
            //                             return data;
            //                         }
            //                     }
            //                 ],
            //                 columns: columnList, //column list

            //                 buttons: [ //set buttons above table
            //                     //Excel Export Button
            //                     {
            //                         extend: 'excel',
            //                         text: '<i class="fa fa-file-excel me-2"></i>Export Excel',
            //                         className: 'form-control btn-c-secondary d-none',
            //                         exportOptions: {
            //                             columns: ':visible:not(.sorting_disabled)'

            //                         }
            //                     },
            //                     //Open Add popup

            //                     '<a><button class="form-control btn-c-primary d-inline" onclick="openLookUpValueModal("0")"><i class="fa fa-plus me-2"></i>Add New</button></a>',
            //                 ],
            //                 drawCallback: function () {
            //                     // BUTTON EVENT ON THE DATA TABLE
            //                 }
            //             });
            //         }
            //         else {
            //             toastr.error(response.errorMessage);
            //         }
            //         // Handle success (e.g., update UI with response data)
            //     },
            //     error: function (error) {
            //         console.log("Error:", error);
            //         toastr.error("Error:" + error);
            //     }
            // }).done(function () {
            // });
        }

        function openLookUpValueModal(id) {
            var dataObject = {};
            dataObject.id = id;

            $.ajax({
                url: LookUpValueGetByIdUrl,
                type: "POST",
                data: dataObject,  // Send data if needed
                beforeSend: function () {
                    ClearLookUpValueModal();
                    GetDropdownData();
                },
                success: function (response) {
                    if (response.data) {
                        if (response.data.id > 0)
                            $("#h4LookUpValueTitle").html("@SharedResource.Modify  @SharedResource.Look_Up_Value");
                        else
                            $("#h4LookUpValueTitle").html("@SharedResource.Add  @SharedResource.Look_Up_Value");

                        $("#hdnId").val(response.data.id);
                        $("#txtLookUpValueName").val(response.data.name);
                        $("#txtDescription").val(response.data.description);
                        $("#ddlLookUpType").val(response.data.lookUpType == 0 ? "" : response.data.lookUpType)
                    }
                    else {
                        toastr.error(response.errorMessage);
                    }
                    // Handle success (e.g., update UI with response data)
                },
                error: function (error) {
                    console.log("Error:", error);
                    toastr.error("Error:" + error);
                }
            }).done(function () {
                $('#AddLookUpValueModal').modal('show');
                $("#frnLookUpValueCreate").validate({}).resetForm();;
            });
        }

        function ClearLookUpValueModal() {
            $("#h4LookUpValueTitle").html("@SharedResource.Add  @SharedResource.Look_Up_Value");
            $("#hdnId").val(0);
            $("#txtLookUpValueName").val("");
            $("#txtDescription").val("");
        }

        function GetDropdownData() {
            $.ajax({
                url: getLookUpValueDropDownUrl,
                type: "POST",
                async: false,
                // data: dataObject,  // Send data if needed
                beforeSend: function () {
                    $("#ddlLookUpType").html('');
                },
                success: function (response) {
                    if (response.data) {
                        $.each(response.data, function (key, value) {
                            if (value.title == "LookUp Type") {
                                $("#ddlLookUpType").append($("<option></option>").val('').html("@SharedResource.Select_Type"));
                                $.each(value.items, function (itemskey, itemsvalue) {
                                    $("#ddlLookUpType").append($("<option></option>").val(itemsvalue.id).html(itemsvalue.text));
                                });
                            }
                        });
                    }
                },
                error: function (error) {
                    console.log("Error:", error);
                    // toastr.error("Error:" + error);
                }

            });
        }

        function SaveLookUpValue() {

            let valid = formValidation(["txtLookUpValueName", "ddlLookUpType"]);

            if (valid) {
                var dataObject = {};
                dataObject.Id = $("#hdnId").val();
                dataObject.Name = $("#txtLookUpValueName").val();
                dataObject.LookUpType = $("#ddlLookUpType").val();
                dataObject.Description = $("#txtDescription").val();

                $.ajax({
                    url: CreateUpdateLookUpValueUrl,
                    type: "POST",
                    data: dataObject,  // Send data if needed
                    beforeSend: function () {

                    },
                    success: function (response) {
                        if (response.data) {
                            toastr.success(response.errorMessage);
                            $('#AddLookUpValueModal').modal('hide');
                            GetAllLookUpValue();
                        }
                        else {
                            toastr.error(response.errorMessage);
                        }
                        // Handle success (e.g., update UI with response data)
                    },
                    error: function (error) {
                        console.log("Error:", error);
                        toastr.error("Error:" + error);
                    }
                }).done(function () {

                });
            }
            else {
                toastr.warning("@SharedResource.Please_fill_in_required_field_s_");
            }
        }

    </script>
}