@{
    Layout = null;
}
@using UI.Resources

<style>
    label {
        margin-bottom: 0; /* Prevents extra spacing under the label */
    }

    input[type="checkbox"] {
        margin: 0; /* Removes any unwanted margin */
    }
</style>

<div class="modal-dialog">
    <form id="frnProjectsCreate">
        <input type="hidden" id="hdnId" value="" />
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="h4ProjectsTitle">
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 form-group">
                        <label>@SharedResource.Project_Code<span class="red-required">*</span></label>
                        <input type="text" id="txtCode" class="form-control" placeholder=@SharedResource.Project_Code readonly />
                    </div>
                    <div class="col-12 form-group">
                        <label>@SharedResource.Project_Name<span class="red-required">*</span></label>
                        <input type="text" id="txtProjectName" class="form-control" placeholder=@SharedResource.Project_Name required />
                    </div>
                    <div class="col-12 form-group">
                        <label>@SharedResource.Project_Details<span class="red-required">*</span></label>
                        <textarea type="text" id="txtProjectDetails" class="form-control" placeholder="@SharedResource.Project_Details" required> </textarea>
                    </div>
                    <div class="col-12 form-group">
                        <label>@SharedResource.Project_Description<span class="red-required">*</span></label>
                        <textarea type="text" id="txtProjectDescription" class="form-control" placeholder="@SharedResource.Project_Description" required> </textarea>
                    </div>
                    <div class="col-12 form-group">
                        <label>@SharedResource.Assign_To<span class="red-required">*</span></label>
                        <select class="form-control" id="ddlAssignTo" required></select>
                    </div>
                    <div class="col-12 form-group">
                        <label>@SharedResource.Planned_Day<span class="red-required">*</span></label>
                        <input type="number" id="txtPlannedDay" class="form-control" placeholder="@SharedResource.Planned_Day" required />
                    </div>
                    <div class="col-12 form-group">
                        <label>@SharedResource.Status<span class="red-required">*</span></label>
                        <select class="form-control" id="ddlStatus" required></select>
                    </div>
                    <div class="col-12 form-group">
                        <label>@SharedResource.Status_Details<span class="red-required">*</span></label>
                        <textarea type="text" id="txtStatusDetails" class="form-control" placeholder="@SharedResource.Status_Details" required> </textarea>
                    </div>
                    <div class="col-12 form-group">
                        <label>@SharedResource.Start_Date<span class="red-required">*</span></label>
                        <input type="date" id="txtStartDate" class="form-control" placeholder="@SharedResource.Start_Date" required />
                    </div>
                    <div class="col-12 form-group">
                        <label>@SharedResource.End_Date<span class="red-required">*</span></label>
                        <input type="date" id="txtEndDate" class="form-control" placeholder="@SharedResource.End_Date" required />
                    </div>
                    <div class="col-12 row form-group">
                        <div class="col-3 d-flex align-items-center">
                            <label for="chbIsVisible" class="mr-2">@SharedResource.Is_Visible</label>
                            <input type="checkbox" id="chbIsVisible" class="form-control-sm" />
                        </div>
                    </div>

                    <div class="col-12 form-group">
                        <label>@SharedResource.Project_Template</span></label>
                        <select class="form-control" id="ddlProjectTemplate"></select>
                    </div>
                    <div class="col-12 form-group">
                        <label>@SharedResource.Project_ColorCode<span class="red-required">*</span></label>
                        <input type="color" id="txtProjectColorCode" name="favcolor" value="" required />
                    </div>
                    <div class="col-12 form-group">
                        <label for="tree" class="mb-2 label-required">@SharedResource.Project_Matrix</label>
                        <div id="ProjectTreeDropdown" class="dropdown dropdown-tree"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="SaveProjects();">@SharedResource.Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@SharedResource.Close</button>
            </div>
        </div>
    </form>
</div>