@{
	Layout = null;
}
@using UI.Resources

<div class="modal-dialog">
	<form id="frnResourceCreate">
		<input type="hidden" id="hdnResourceId" value="0" />
		<input type="hidden" id="hdnResourceAId" value="" />
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="h4ResourceTitle">
				</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-12 form-group">
						<label>@SharedResource.Code<span class="red-required">*</span></label>
						<input type="text" id="txtCode" class="form-control" placeholder="@SharedResource.Code" required />
					</div>
					<div class="col-12 form-group">
						<label>@SharedResource.Type<span class="red-required">*</span></label>
						<input type="text" id="txtType" class="form-control" placeholder="@SharedResource.Type" required />
					</div>
					<div class="col-12 form-group">
						<label>@SharedResource.Surname<span class="red-required">*</span></label>
						<input type="text" id="txtSurname" class="form-control" placeholder="@SharedResource.Surname" required />
					</div>
					<div class="col-12 form-group">
						<label>@SharedResource.Othername<span class="red-required">*</span></label>
						<input type="text" id="txtOthername" class="form-control" placeholder="@SharedResource.Othername" required />
					</div>
					<div class="col-12 form-group">
						<label>@SharedResource.Email<span class="red-required">*</span></label>
						<input type="text" id="txtEmail" class="form-control" placeholder="@SharedResource.Email" required />
					</div>
					<div class="col-12 form-group">
						<label>@SharedResource.Mobile_No<span class="red-required">*</span></label>
						<input type="text" id="txtMobile" class="form-control" placeholder="@SharedResource.Mobile_No" required />
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" onclick="SaveResource();">@SharedResource.Save</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">@SharedResource.Close</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</form>
</div>